<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit 
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections/>
  <connectionStrings>
    <add name="AZURE" connectionString="Server=tcp:valleencantado.database.windows.net,1433;Initial Catalog=hades;Persist Security Info=False;User ID=administrador;Password=Sistemas1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="hadesConnectionString" connectionString="Data Source=valleencantado.database.windows.net;Initial Catalog=hades;User ID=administrador;Password=Sistemas1" providerName="System.Data.SqlClient"/>
    <add name="Default" connectionString="Data Source=sql5030.site4now.net;Initial Catalog=DB_A4284D_hades;Persist Security Info=False;User ID=DB_A4284D_hades_admin;Password=Club1708#;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    <add name="HADES" connectionString="Data Source=sql5041.site4now.net;Initial Catalog=DB_A4284D_Testing;Persist Security Info=False;User ID=DB_A4284D_Testing_admin;Password=Sistemas1;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    <add name="LOCAL" connectionString="uid=sa;pwd=Sistemas2018;SERVER=192.168.1.14;database=clone" providerName="System.Data.SqlClient" />
  </connectionStrings>  
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
   
    <compilation targetFramework="4.6.1" debug="true">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
    </compilation>
    <httpRuntime  maxRequestLength="1024000" executionTimeout="500000"  />

    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms name=".ASPXFORMSDEMO" loginUrl="Views/Login.aspx" protection="All" path="/" timeout="30"  />
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false"/>
    </httpHandlers>
  </system.web>
  <appSettings/>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <!--<rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>-->
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 700MB (CD700) -->
        <requestLimits maxAllowedContentLength="737280000" />
      </requestFiltering>
    </security>
  </system.webServer>
  
</configuration>
<!--ProjectGuid: 4F84E92D-667A-4060-A3E6-F634ADF523F8-->