<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de patrocinados | Kaita Natural Network</title>
    <link href="Sponsored_files/css.css" rel="stylesheet">
    <link href="Sponsored_files/bootstrap.css" rel="stylesheet">
    <link href="Sponsored_files/font-awesome.css" rel="stylesheet">
    <link href="Sponsored_files/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="Sponsored_files/daterangepicker-bs3.css" rel="stylesheet">
    <link href="Sponsored_files/chosen.css" rel="stylesheet">
    <link href="Sponsored_files/croppie.css" rel="stylesheet">
    <link href="Sponsored_files/datepicker3.css" rel="stylesheet">
    <link href="Sponsored_files/jasny-bootstrap.css" rel="stylesheet">
    <link href="Sponsored_files/ladda-themeless.css" rel="stylesheet">
    <link href="Sponsored_files/sweetalert.css" rel="stylesheet">
    <link href="Sponsored_files/animate.css" rel="stylesheet">
    <link href="Sponsored_files/style.css" rel="stylesheet">
    <link rel="stylesheet" href="Sponsored_files/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="Sponsored_files/jquery-3.js"></script>
    <script src="Sponsored_files/bootstrap.js"></script>
    <script src="Sponsored_files/jquery_004.js"></script>
    <script src="Sponsored_files/jquery_010.js"></script>
    <script src="Sponsored_files/inspinia.js"></script>
    <script src="Sponsored_files/pace.js"></script>
    <script src="Sponsored_files/jquery.js"></script>
    <script src="Sponsored_files/jquery_006.js"></script>
    <script src="Sponsored_files/jquery_011.js"></script>
    <script src="Sponsored_files/Chart.js"></script>
    <script src="Sponsored_files/jasny-bootstrap.js"></script>
    <script src="Sponsored_files/jquery_003.js"></script>
    <script src="Sponsored_files/jquery_005.js"></script>
    <script src="Sponsored_files/peity-demo.js"></script>
    <script src="Sponsored_files/datatables.js"></script>
    <script src="Sponsored_files/chosen.js"></script>
    <script src="Sponsored_files/croppie.js"></script>
    <script src="Sponsored_files/sweetalert.js"></script>
    <script src="Sponsored_files/bootstrap3-typeahead.js"></script>
    <script src="Sponsored_files/jquery_008.js"></script>
    <script src="Sponsored_files/bootstrap-datepicker.js"></script>
    <script src="Sponsored_files/jquery_002.js"></script>

    <script>
        var base_url = 'https://www.mioficinaknn.com/';
        var idsocio = 168;
        var idopera = 1;
        var nombresocio = 'Luis Alberto Ccayo';
        var direcsocio = 'Calle Hermilio Valdizan Block M Dpto 402';
        var rango = '3K';
        var simbolo = 'S/.';
        var csrfsn = '2a00bc56520a80ae85d6363a1dce5319';
        //document.addEventListener('contextmenu', event => event.preventDefault());
    </script>
					<script src="Sponsored_files/jquery_009.js"></script>
					<script src="Sponsored_files/jquery_007.js"></script>
</head>
<body class="top-navigation  pace-done"><div class="pace  pace-inactive"><div class="pace-progress" style="transform: translate3d(100%, 0px, 0px);" data-progress-text="100%" data-progress="99">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>
    <!-- Loading -->
    <div class="loading">
        <div class="load">
            <div class="sk-spinner sk-spinner-fading-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
            <div>Espere por favor...</div>
        </div>
    </div>

    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg iniciowp">
                <nav class="navbar navbar-static-top" role="navigation" style="height: 75px">
                    <div class="navbar-header header-inicio">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <i class="fa fa-reorder"></i>
                        </button>
                        <a href="https://www.mioficinaknn.com/dashboard" class="navbar-brand inicio-logo"><img src="Sponsored_files/logo.png" class="img-responsive"></a>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-top-links navbar-right">
                                                            <li><img src="Sponsored_files/a2e080cf2241b0ba7c11145c094867c3.jpg" alt="..." class="img-circle img-responsive img-user"></li>
                                                        <li class="dropdown">
                                <a href="#" class="dropdown-toggle userClass" data-toggle="dropdown" role="button" aria-expanded="false">Hola Luis Alberto<span class="caret"></span></a>
                                <ul class="dropdown-menu detalle-user" role="menu">
                                    <li>
                                        <p><strong>Luis Alberto Ccayo Narvaja</strong></p>
                                        <p class="green">Socio N° 1468</p>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                                                                    <p class="col-md-5"><a href="https://www.mioficinaknn.com/dashboard/perfil/editar" class="btn btn-primary btn-sm">Editar perfil</a></p>
                                            <p class="col-md-5"><a href="https://www.mioficinaknn.com/dashboard/perfil/editar" class="btn btn-primary btn-sm">Cambiar Clave</a></p>
                                                                                <center>
                                        <p class="col-md-12"><a href="https://www.mioficinaknn.com/login/logout" class="btn btn-primary block">Salir</a>
                                        </p>
                                        </center>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>						<style type="text/css">
							div.box-hr hr{margin-top: 0px !important;}
						</style>
						<div class="wrapper-content animated fadeInUp">
							<div class="ibox float-e-margins">
								<div class="ibox-content">
									<div class="row visible-xs visible-sm linkstienda-movil">
										<div class="linkstienda">
											<div class="col-xs-12">
												<div class="col-xs-3" style="width: 20% !important">
													<img class="center-block img-responsive" src="Sponsored_files/oficina.png" style="margin-top: 10px; max-height: 74px" border="0">
												</div>
												<div class="col-xs-9 menu-lateral-opciones" style="display: block">
													<div class="col-xs-12">
														<div class="col-xs-3 separadorbarra" style="width: 20% !important"> 
															<a href="https://www.mioficinaknn.com/socio/nuevo"><img src="Sponsored_files/nuevo.png" class="img-responsive center-block" border="0">Nuevo Socio</a>
														</div>
														<div class="col-xs-3 separadorbarra" style="width: 20% !important">
															<a href="https://www.mioficinaknn.com/tienda/autoconsumo"><img src="Sponsored_files/tienda.png" class="img-responsive center-block" border="0">Tienda</a>
														</div>
														<div class="col-xs-3 separadorbarra" style="width: 20% !important">
															<a href="https://www.mioficinaknn.com/socio/mired"><img src="Sponsored_files/redes.png" class="img-responsive center-block" border="0">Mi red</a>
														</div>
														<div class="col-xs-3 separadorbarra" style="width: 20% !important">
															<a href="https://www.mioficinaknn.com/comisiones"><img src="Sponsored_files/comisiones.png" class="img-responsive center-block" border="0">Mis comisiones</a>
														</div>
														<div class="col-xs-3 separadorbarra" style="width: 20% !important">
															<a href="https://www.mioficinaknn.com/socio/publicaciones"><img src="Sponsored_files/publicaciones.png" class="img-responsive center-block" border="0">Publicaciones</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row" style="padding-bottom: 20px; position: relative">
										<div class="col-md-6">
											<img src="Sponsored_files/redes.png" class="logo-seccion" align="left">
											<h2 class="green"><b>Mi red</b></h2>
											<ol class="breadcrumb negro">
												<li class="breadcrumb-item"><a href="https://www.mioficinaknn.com/socio/mired/">Mi red</a></li>
												<li class="breadcrumb-item active"><a href="https://www.mioficinaknn.com/socio/patrocinados/" class="subrayar">Lista de Patrocinados</a></li>
											</ol>
										</div>
										<div class="col-md-6">
											<div class="linkstienda visible-md visible-lg">
												<div class="col-md-3" style="width: 20% !important">
													<!-- <a href="javascript:void(0)" onclick="$('.menu-lateral-opciones').slideToggle(1000)">
														<img class="center-block oficinaimg" src="https://www.mioficinaknn.com/assets/img/oficina.png"	border="0" />
													</a> -->
													<a href="javascript:void(0)" onclick="$('.menu-lateral-opciones').slideToggle(1)">
														<img class="center-block oficinaimg" src="Sponsored_files/oficina.png" border="0">
													</a>
												</div>
												<div class="col-md-9 menu-lateral-opciones">
													<div class="row">
														<div class="col-md-3 separadorbarra" style="width: 20% !important"> 
															<a href="https://www.mioficinaknn.com/socio/nuevo"><img src="Sponsored_files/nuevo.png" class="img-responsive center-block" border="0">Nuevo Socio</a>
														</div>
														<div class="col-md-3 separadorbarra" style="width: 20% !important">
															<a href="https://www.mioficinaknn.com/tienda/autoconsumo"><img src="Sponsored_files/tienda.png" class="img-responsive center-block" border="0">Tienda</a>
														</div>
														<div class="col-md-3 separadorbarra" style="width: 20% !important">
															<a href="https://www.mioficinaknn.com/socio/mired"><img src="Sponsored_files/redes.png" class="img-responsive center-block" border="0">Mi red</a>
														</div>
														<div class="col-md-3 separadorbarra" style="width: 20% !important">
															<a href="https://www.mioficinaknn.com/comisiones"><img src="Sponsored_files/comisiones.png" class="img-responsive center-block" border="0">Mis comisiones</a>
														</div>
														<div class="col-md-3 separadorbarra" style="width: 20% !important">
															<a href="https://www.mioficinaknn.com/socio/publicaciones"><img src="Sponsored_files/publicaciones.png" class="img-responsive center-block" border="0">Publicaciones</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="row box-hr">
										<hr>
									</div>
									<div class="m-b-md" style="overflow: hidden;">
										<div class="pull-left">
											Información actualizada al: <strong>30/10/2018 12:11:30</strong>
										</div>
									</div>
									<div class="table-responsive m-t">
										<table class="table table-bordered tblListaPatrocinados">
											<thead>
												<tr>
													<th>Nombre y apellidos</th>
													<th>DNI</th>
													<th>Rango</th>
													<th>Estado</th>
													<th>Nivel</th>
													<th>Rama</th>
													<th>Patrocinador Personal</th>
													<th>Upline</th>
													<th>Prox.Autoconsumo</th>
													<th>Pts.Auto-Upgrade</th>
													<th>Pts.Adicional</th>
												</tr>
											</thead>
											<tbody>
																							<tr class="id_socio-1988">
													<td>- Jorge Luis Chafloque</td>
													<td>07460070</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>1</td>
													<td>2</td>
													<td>Luis Alberto Ccayo</td>
													<td>Luis Alberto Ccayo</td>
													<td>27/11/2018</td>
													<td>164.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-124">
													<td>- Randall Montalvan</td>
													<td>09220896</td>
													<td>K1000</td>
													<td>Activo</td>
													<td>1</td>
													<td>3</td>
													<td>Luis Alberto Ccayo</td>
													<td>Luis Alberto Ccayo</td>
													<td>20/11/2018</td>
													<td>162.00</td>
													<td>337.00</td>
												</tr>
																							<tr class="id_socio-1708">
													<td>- Margot Giovana Condor</td>
													<td>07509181</td>
													<td>1K</td>
													<td>Activo</td>
													<td>1</td>
													<td>4</td>
													<td>Luis Alberto Ccayo</td>
													<td>Luis Alberto Ccayo</td>
													<td>26/11/2018</td>
													<td>164.00</td>
													<td>242.00</td>
												</tr>
																							<tr class="id_socio-2049">
													<td>- Niler Carhuapoma</td>
													<td>46127699</td>
													<td>Inicio</td>
													<td>Deuda 2</td>
													<td>1</td>
													<td>7</td>
													<td>Margot Giovana Condor</td>
													<td>Luis Alberto Ccayo</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2400">
													<td>- Sonia Yolanda Cuya</td>
													<td>08979558</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>1</td>
													<td>9</td>
													<td>Luis Alberto Ccayo</td>
													<td>Luis Alberto Ccayo</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2421">
													<td>- Josue Nun Vega</td>
													<td>06666457</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>1</td>
													<td>10</td>
													<td>Luis Alberto Ccayo</td>
													<td>Luis Alberto Ccayo</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2301">
													<td>-- Edgardo Martin Ramirez</td>
													<td>43312528</td>
													<td>Inicio</td>
													<td>Deuda 2</td>
													<td>2</td>
													<td>3</td>
													<td>Randall Montalvan</td>
													<td>Randall Montalvan</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-479">
													<td>-- Rafael De La Barrera</td>
													<td>40848192</td>
													<td>2K</td>
													<td>Activo</td>
													<td>2</td>
													<td>3</td>
													<td>Randall Montalvan</td>
													<td>Randall Montalvan</td>
													<td>21/11/2018</td>
													<td>264.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-1941">
													<td>-- Julet Mileska Bottger</td>
													<td>41935140</td>
													<td>1K</td>
													<td>Activo</td>
													<td>2</td>
													<td>3</td>
													<td>Randall Montalvan</td>
													<td>Randall Montalvan</td>
													<td>15/11/2018</td>
													<td>167.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-1980">
													<td>-- Edwar Manuel Salazar</td>
													<td>09706120</td>
													<td>K1000</td>
													<td>Activo</td>
													<td>2</td>
													<td>3</td>
													<td>Randall Montalvan</td>
													<td>Randall Montalvan</td>
													<td>15/11/2018</td>
													<td>257.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-1994">
													<td>-- Ricardo Villavicencio</td>
													<td>40212556</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>2</td>
													<td>3</td>
													<td>Randall Montalvan</td>
													<td>Randall Montalvan</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2021">
													<td>-- Miguel Canchan</td>
													<td>43562026</td>
													<td>K1000</td>
													<td>Activo</td>
													<td>2</td>
													<td>3</td>
													<td>Randall Montalvan</td>
													<td>Randall Montalvan</td>
													<td>01/12/2018</td>
													<td>251.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-1883">
													<td>-- Nancy Maria Estrada</td>
													<td>02777211</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>2</td>
													<td>4</td>
													<td>Margot Giovana Condor</td>
													<td>Margot Giovana Condor</td>
													<td>23/11/2018</td>
													<td>253.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2629">
													<td>--- Christian Neeks Reategui</td>
													<td>46753404</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>3</td>
													<td>3</td>
													<td>Ricardo Villavicencio</td>
													<td>Ricardo Villavicencio</td>
													<td>05/11/2018</td>
													<td>140.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2632">
													<td>--- Ayde Alania</td>
													<td>44573153</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>3</td>
													<td>3</td>
													<td>Miguel Canchan</td>
													<td>Miguel Canchan</td>
													<td>06/11/2018</td>
													<td>140.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2503">
													<td>--- Eddy Alarcon</td>
													<td>44639701</td>
													<td>3K</td>
													<td>Activo</td>
													<td>3</td>
													<td>3</td>
													<td>Miguel Canchan</td>
													<td>Miguel Canchan</td>
													<td>17/11/2018</td>
													<td>160.00</td>
													<td>95.00</td>
												</tr>
																							<tr class="id_socio-2500">
													<td>--- Jessica Magaly Joaquin</td>
													<td>47892188</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>3</td>
													<td>3</td>
													<td>Miguel Canchan</td>
													<td>Miguel Canchan</td>
													<td>23/11/2018</td>
													<td>166.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2391">
													<td>--- Salvador Ricardo Huaman</td>
													<td>44341862</td>
													<td>2K</td>
													<td>Activo</td>
													<td>3</td>
													<td>3</td>
													<td>Miguel Canchan</td>
													<td>Miguel Canchan</td>
													<td>27/11/2018</td>
													<td>168.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2327">
													<td>--- Franklin Jhonn Cueva</td>
													<td>44096955</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>3</td>
													<td>3</td>
													<td>Miguel Canchan</td>
													<td>Miguel Canchan</td>
													<td>01/12/2018</td>
													<td>0</td>
													<td>381.00</td>
												</tr>
																							<tr class="id_socio-2290">
													<td>--- Carmen  Rosa Orihuela</td>
													<td>21118564</td>
													<td>Inicio</td>
													<td>Deuda 2</td>
													<td>3</td>
													<td>3</td>
													<td>Miguel Canchan</td>
													<td>Miguel Canchan</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2278">
													<td>--- Wendy Cuny Tutaya</td>
													<td>20073172</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>3</td>
													<td>3</td>
													<td>Miguel Canchan</td>
													<td>Miguel Canchan</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2254">
													<td>--- Yovana Ayde Ulloa</td>
													<td>42952111</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>3</td>
													<td>3</td>
													<td>Miguel Canchan</td>
													<td>Miguel Canchan</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2253">
													<td>--- Eric Calsin</td>
													<td>43573123</td>
													<td>Inicio</td>
													<td>Deuda 2</td>
													<td>3</td>
													<td>3</td>
													<td>Miguel Canchan</td>
													<td>Miguel Canchan</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2098">
													<td>--- Jessica Perez</td>
													<td>42621745</td>
													<td>1K</td>
													<td>Activo</td>
													<td>3</td>
													<td>3</td>
													<td>Miguel Canchan</td>
													<td>Miguel Canchan</td>
													<td>13/11/2018</td>
													<td>180.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2083">
													<td>--- Benito Rosales</td>
													<td>08908237</td>
													<td>Inicio</td>
													<td>Deuda 2</td>
													<td>3</td>
													<td>3</td>
													<td>Miguel Canchan</td>
													<td>Miguel Canchan</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2069">
													<td>--- Consuelo Judith Jacobi</td>
													<td>09805357</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>3</td>
													<td>3</td>
													<td>Miguel Canchan</td>
													<td>Miguel Canchan</td>
													<td>26/11/2018</td>
													<td>167.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2494">
													<td>--- Alex Anderson Rodriguez</td>
													<td>75584999</td>
													<td>1K</td>
													<td>Activo</td>
													<td>3</td>
													<td>3</td>
													<td>Ricardo Villavicencio</td>
													<td>Ricardo Villavicencio</td>
													<td>17/11/2018</td>
													<td>161.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2353">
													<td>--- Rafael Jose Villavicencio</td>
													<td>08882226</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>3</td>
													<td>3</td>
													<td>Ricardo Villavicencio</td>
													<td>Ricardo Villavicencio</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2328">
													<td>--- Percy Walter Gfell</td>
													<td>43396396</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>3</td>
													<td>3</td>
													<td>Ricardo Villavicencio</td>
													<td>Ricardo Villavicencio</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2037">
													<td>--- Jorge Luis Chavez</td>
													<td>76810334</td>
													<td>Inicio</td>
													<td>Deuda 2</td>
													<td>3</td>
													<td>3</td>
													<td>Ricardo Villavicencio</td>
													<td>Ricardo Villavicencio</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2025">
													<td>--- Isabel Abad</td>
													<td>47181443</td>
													<td>Inicio</td>
													<td>Deuda 2</td>
													<td>3</td>
													<td>3</td>
													<td>Ricardo Villavicencio</td>
													<td>Ricardo Villavicencio</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2296">
													<td>--- Rosalia Apaza</td>
													<td>10706008</td>
													<td>1K</td>
													<td>Activo</td>
													<td>3</td>
													<td>3</td>
													<td>Edwar Manuel Salazar</td>
													<td>Edwar Manuel Salazar</td>
													<td>29/11/2018</td>
													<td>265.00</td>
													<td>216.00</td>
												</tr>
																							<tr class="id_socio-2089">
													<td>--- Ana Cecilia Felix</td>
													<td>07512222</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>3</td>
													<td>3</td>
													<td>Edwar Manuel Salazar</td>
													<td>Edwar Manuel Salazar</td>
													<td>15/11/2018</td>
													<td>171.00</td>
													<td>368.00</td>
												</tr>
																							<tr class="id_socio-2054">
													<td>--- Ynes Maribel Caballero</td>
													<td>10085109</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>3</td>
													<td>3</td>
													<td>Edwar Manuel Salazar</td>
													<td>Edwar Manuel Salazar</td>
													<td>03/11/2018</td>
													<td>164.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2029">
													<td>--- Guido Javier Ureta</td>
													<td>09384513</td>
													<td>4K</td>
													<td>Activo</td>
													<td>3</td>
													<td>3</td>
													<td>Edwar Manuel Salazar</td>
													<td>Edwar Manuel Salazar</td>
													<td>01/12/2018</td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2022">
													<td>--- Josias Adán Alvarado</td>
													<td>71897857</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>3</td>
													<td>3</td>
													<td>Edwar Manuel Salazar</td>
													<td>Edwar Manuel Salazar</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2018">
													<td>--- Jhoselyn Lizeth Caballero</td>
													<td>47748980</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>3</td>
													<td>3</td>
													<td>Edwar Manuel Salazar</td>
													<td>Edwar Manuel Salazar</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-1954">
													<td>--- Rosario Meza</td>
													<td>42202153</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>3</td>
													<td>3</td>
													<td>Julet Mileska Bottger</td>
													<td>Julet Mileska Bottger</td>
													<td>18/11/2018</td>
													<td>168.00</td>
													<td>615.00</td>
												</tr>
																							<tr class="id_socio-2329">
													<td>--- Cristian Reyder Tapullima</td>
													<td>46289789</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>3</td>
													<td>3</td>
													<td>Rafael De La Barrera</td>
													<td>Rafael De La Barrera</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2042">
													<td>--- Víctor Ricardo Ophelan</td>
													<td>40965738</td>
													<td>Inicio</td>
													<td>Deuda 2</td>
													<td>3</td>
													<td>3</td>
													<td>Rafael De La Barrera</td>
													<td>Rafael De La Barrera</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-1914">
													<td>--- Jorge Eduardo Astete</td>
													<td>42029343</td>
													<td>1K</td>
													<td>Activo</td>
													<td>3</td>
													<td>3</td>
													<td>Rafael De La Barrera</td>
													<td>Rafael De La Barrera</td>
													<td>03/11/2018</td>
													<td>202.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-134">
													<td>--- Ernesto Silva</td>
													<td>09452448</td>
													<td>1K</td>
													<td>Activo</td>
													<td>3</td>
													<td>3</td>
													<td>Rafael De La Barrera</td>
													<td>Rafael De La Barrera</td>
													<td>09/11/2018</td>
													<td>168.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2038">
													<td>--- Betty Isabel Estrada</td>
													<td>02887849</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>3</td>
													<td>4</td>
													<td>Nancy Maria Estrada</td>
													<td>Nancy Maria Estrada</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2061">
													<td>---- Milton Ureta</td>
													<td>09723600</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>4</td>
													<td>3</td>
													<td>Guido Javier Ureta</td>
													<td>Guido Javier Ureta</td>
													<td>07/11/2018</td>
													<td>160.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2792">
													<td>---- Luz Cristina Puchuri</td>
													<td>41095887</td>
													<td>1K</td>
													<td>Activo</td>
													<td>4</td>
													<td>3</td>
													<td>Jhoselyn Lizeth Caballero</td>
													<td>Jhoselyn Lizeth Caballero</td>
													<td>26/11/2018</td>
													<td>400.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2513">
													<td>---- Delia Aydee Quispe</td>
													<td>43758190</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>4</td>
													<td>3</td>
													<td>Rosario Meza</td>
													<td>Rosario Meza</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-1955">
													<td>---- Lucia Fernanda Cavero</td>
													<td>42546140</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>4</td>
													<td>3</td>
													<td>Jorge Eduardo Astete</td>
													<td>Jorge Eduardo Astete</td>
													<td>09/11/2018</td>
													<td>175.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-1720">
													<td>---- Rocio Del Carmen Marchena</td>
													<td>19211994</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>4</td>
													<td>3</td>
													<td>Ernesto Silva</td>
													<td>Ernesto Silva</td>
													<td>30/11/2018</td>
													<td>170.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2531">
													<td>---- Silvia Sonia Alarcon</td>
													<td>44231663</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>4</td>
													<td>3</td>
													<td>Eddy Alarcon</td>
													<td>Eddy Alarcon</td>
													<td>21/11/2018</td>
													<td>160.00</td>
													<td>166.00</td>
												</tr>
																							<tr class="id_socio-2526">
													<td>---- Ninfa Nelly Anahui</td>
													<td>01689150</td>
													<td>1K</td>
													<td>Activo</td>
													<td>4</td>
													<td>3</td>
													<td>Eddy Alarcon</td>
													<td>Eddy Alarcon</td>
													<td>20/11/2018</td>
													<td>335.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2512">
													<td>---- Kelly Viviana Yataco</td>
													<td>47851127</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>4</td>
													<td>3</td>
													<td>Eddy Alarcon</td>
													<td>Eddy Alarcon</td>
													<td>18/11/2018</td>
													<td>365.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2626">
													<td>---- Samuel David Perez</td>
													<td>41251923</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>4</td>
													<td>3</td>
													<td>Alex Anderson Rodriguez</td>
													<td>Alex Anderson Rodriguez</td>
													<td>05/11/2018</td>
													<td>400.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2506">
													<td>---- Marco Tulius Velazquez</td>
													<td>44097554</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>4</td>
													<td>3</td>
													<td>Alex Anderson Rodriguez</td>
													<td>Alex Anderson Rodriguez</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2807">
													<td>---- Francisca Carrera</td>
													<td>07972797</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>4</td>
													<td>3</td>
													<td>Salvador Ricardo Huaman</td>
													<td>Salvador Ricardo Huaman</td>
													<td>29/11/2018</td>
													<td>140.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2402">
													<td>---- Roberto Daniel Vargas</td>
													<td>71992447</td>
													<td>1K</td>
													<td>Activo</td>
													<td>4</td>
													<td>3</td>
													<td>Salvador Ricardo Huaman</td>
													<td>Salvador Ricardo Huaman</td>
													<td>15/11/2018</td>
													<td>165.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2761">
													<td>---- Manuela Cordova</td>
													<td>09287339</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>4</td>
													<td>3</td>
													<td>Rosalia Apaza</td>
													<td>Rosalia Apaza</td>
													<td>23/11/2018</td>
													<td>140.00</td>
													<td>412.00</td>
												</tr>
																							<tr class="id_socio-2549">
													<td>---- Sadith Kelly Toribio</td>
													<td>40404304</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>4</td>
													<td>3</td>
													<td>Rosalia Apaza</td>
													<td>Rosalia Apaza</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2292">
													<td>---- Julian Callata</td>
													<td>10501901</td>
													<td>Inicio</td>
													<td>Deuda 2</td>
													<td>4</td>
													<td>3</td>
													<td>Carmen  Rosa Orihuela</td>
													<td>Carmen  Rosa Orihuela</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2256">
													<td>---- Miriam Marleni Rico</td>
													<td>10597474</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>4</td>
													<td>3</td>
													<td>Yovana Ayde Ulloa</td>
													<td>Yovana Ayde Ulloa</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2311">
													<td>---- Yosi Irena Huanca</td>
													<td>47564233</td>
													<td>4K</td>
													<td>Activo</td>
													<td>4</td>
													<td>3</td>
													<td>Jessica Perez</td>
													<td>Jessica Perez</td>
													<td>01/12/2018</td>
													<td>165.00</td>
													<td>221.00</td>
												</tr>
																							<tr class="id_socio-2086">
													<td>---- Yenny Yvonne Guevara</td>
													<td>09702757</td>
													<td>Inicio</td>
													<td>Deuda 2</td>
													<td>4</td>
													<td>3</td>
													<td>Ynes Maribel Caballero</td>
													<td>Ynes Maribel Caballero</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2289">
													<td>---- Jesús Antonio Ureta</td>
													<td>41530263</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>4</td>
													<td>3</td>
													<td>Guido Javier Ureta</td>
													<td>Guido Javier Ureta</td>
													<td>28/11/2018</td>
													<td>188.00</td>
													<td>119.00</td>
												</tr>
																							<tr class="id_socio-2270">
													<td>---- Miriam Roxana Perez</td>
													<td>10225559</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>4</td>
													<td>3</td>
													<td>Guido Javier Ureta</td>
													<td>Guido Javier Ureta</td>
													<td>26/11/2018</td>
													<td>256.00</td>
													<td>295.00</td>
												</tr>
																							<tr class="id_socio-2216">
													<td>---- Marianela Ureta</td>
													<td>10090673</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>4</td>
													<td>3</td>
													<td>Guido Javier Ureta</td>
													<td>Guido Javier Ureta</td>
													<td>19/11/2018</td>
													<td>265.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2226">
													<td>---- Juan Ricardo Cruz</td>
													<td>00111128</td>
													<td>Inicio</td>
													<td>Deuda 2</td>
													<td>4</td>
													<td>3</td>
													<td>Guido Javier Ureta</td>
													<td>Guido Javier Ureta</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2415">
													<td>----- Elizabeth Del Rosario Tamara</td>
													<td>42325729</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>5</td>
													<td>3</td>
													<td>Yosi Irena Huanca</td>
													<td>Yosi Irena Huanca</td>
													<td>11/11/2018</td>
													<td>164.00</td>
													<td>235.00</td>
												</tr>
																							<tr class="id_socio-2616">
													<td>----- Diomedes Benavides</td>
													<td>44237933</td>
													<td>1K</td>
													<td>Activo</td>
													<td>5</td>
													<td>3</td>
													<td>Yosi Irena Huanca</td>
													<td>Yosi Irena Huanca</td>
													<td>03/11/2018</td>
													<td>322.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2704">
													<td>----- Sadita Eulogio</td>
													<td>71941594</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>5</td>
													<td>3</td>
													<td>Yosi Irena Huanca</td>
													<td>Yosi Irena Huanca</td>
													<td>16/11/2018</td>
													<td>140.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2406">
													<td>----- Virginia Alvarez</td>
													<td>09878290</td>
													<td>1K</td>
													<td>Activo</td>
													<td>5</td>
													<td>3</td>
													<td>Roberto Daniel Vargas</td>
													<td>Roberto Daniel Vargas</td>
													<td>13/11/2018</td>
													<td>160.00</td>
													<td>922.00</td>
												</tr>
																							<tr class="id_socio-2516">
													<td>----- Aaron Montañez</td>
													<td>70071598</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>5</td>
													<td>3</td>
													<td>Roberto Daniel Vargas</td>
													<td>Roberto Daniel Vargas</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2655">
													<td>----- Agustina Yaulilahua</td>
													<td>46420943</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>5</td>
													<td>3</td>
													<td>Ninfa Nelly Anahui</td>
													<td>Ninfa Nelly Anahui</td>
													<td>09/11/2018</td>
													<td>140.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2793">
													<td>----- Emma Janeth Julca</td>
													<td>42194643</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>5</td>
													<td>3</td>
													<td>Luz Cristina Puchuri</td>
													<td>Luz Cristina Puchuri</td>
													<td>26/11/2018</td>
													<td>400.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2385">
													<td>----- Gaby Aydee Bustamante</td>
													<td>30481359</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>5</td>
													<td>3</td>
													<td>Miriam Marleni Rico</td>
													<td>Miriam Marleni Rico</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2305">
													<td>----- Edgar Enrique Silva</td>
													<td>45598672</td>
													<td>Inicio</td>
													<td>Deuda 1</td>
													<td>5</td>
													<td>3</td>
													<td>Miriam Roxana Perez</td>
													<td>Miriam Roxana Perez</td>
													<td></td>
													<td>0</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2611">
													<td>----- Marleny Sofia Riquez</td>
													<td>16123784</td>
													<td>1K</td>
													<td>Activo</td>
													<td>5</td>
													<td>3</td>
													<td>Yosi Irena Huanca</td>
													<td>Yosi Irena Huanca</td>
													<td>02/11/2018</td>
													<td>680.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2710">
													<td>------ Clotilde Avedaño</td>
													<td>51475344</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>6</td>
													<td>3</td>
													<td>Virginia Alvarez</td>
													<td>Virginia Alvarez</td>
													<td>17/11/2018</td>
													<td>140.00</td>
													<td>268.00</td>
												</tr>
																							<tr class="id_socio-2617">
													<td>------ Urbano Valenzuela</td>
													<td>06024993</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>6</td>
													<td>3</td>
													<td>Marleny Sofia Riquez</td>
													<td>Marleny Sofia Riquez</td>
													<td>04/11/2018</td>
													<td>140.00</td>
													<td>0</td>
												</tr>
																							<tr class="id_socio-2706">
													<td>------ Yolanda Benavides</td>
													<td>80609131</td>
													<td>Inicio</td>
													<td>Activo</td>
													<td>6</td>
													<td>3</td>
													<td>Diomedes Benavides</td>
													<td>Diomedes Benavides</td>
													<td>17/11/2018</td>
													<td>140.00</td>
													<td>0</td>
												</tr>
																						</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>                        <!-- Favorito -->
            <div class="modal inmodal" id="mdlTerminosCondiciones" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">TERMINOS Y CONDICIONES</h4>
                        </div>
                        <div class="modal-body">
                            <p><strong>Los Términos y Condiciones del Acuerdo con el Distribuidor Independiente de kaita Natural Network Knn:</strong></p>

                            <p>1. Entiendo que como Ejecutivo Independiente de knn:</p>

                            <p>a. Tengo el derecho de ofrecer para la venta los productos y servicios de knn de acuerdo con estos Términos y Condiciones.</p>

                            <p>b. Tengo el derecho de afiliar a personas con Knn.</p>

                            <p>c. Entrenaré y motivaré a los Ejecutivos Independientes de mi organización de mercadeo en línea descendente.</p>

                            <p>d. Acataré todas las leyes, ordenanzas, 
reglamentos y normativas municipales y del Estado Peruano; y haré todas
 las declaraciones y pagaré todas las retenciones u otras deducciones 
según lo requerido por cualquier ley, ordenanza, reglamento y normativa
 municipal y del Estado.</p>

                            <p>e. Haré mis obligaciones como Ejecutivo Independiente con honestidad e integridad</p>

                            <p>2. Yo me comprometo a presentar el plan 
de ganancias o mercadeo, y los productos y servicios de Knn como están 
en la literatura oficial de Knn.</p>

                            <p>3. Acepto que como Distribuidor 
Independiente de Knn soy contratista independiente, y no soy empleado, 
agente, socio, representante legal o franquiciante de Knn.</p>

                            <p>No estoy autorizado ni incurriré en 
deudas, gastos, obligaciones; ni abriré cuentas corrientes a favor, 
para o en nombre de Knn.</p>

                            <p>Acepto que seré el único responsable de
 pagar todos los gastos en que yo incurra, incluyendo pero no limitando 
viáticos, alimentos, alojamiento, de secretaria, oficina, telefonía de
 larga distancia u otros gastos. ENTIENDO QUE NO ME TRATARÁN COMO 
EMPLEADO DE KNN POR RAZONES TRIBUTARIAS ESTATALES O FEDERALES.</p>

                            <p>Knn es de retener o deducir de mis 
bonificaciones y comisiones por efecto de detracciones, abonándola a 
las respectivas cuentas de detracciones del Distribuidor.</p>

                            <p>Al recibirlas, he leído cuidadosamente y acepto acatar las Normas y Procedimientos y el Plan de Mercadeo de Knn.</p>

                            <p>Entiendo que debo ser de buena reputación, y no infringir este Acuerdo, para tener derecho a bonos y comisiones de Knn.</p>

                            <p>Entiendo que estos Términos y 
Condiciones, las Normas y Procedimientos de Knn o el Plan de Mercadeo y 
Compensación de Knn pueden enmendarse a la sola discreción de Knn, y 
acepto que cualquier enmienda de tal índole se aplicaría a mi persona.</p>

                            <p>La notificación de enmiendas será publicada en los materiales oficiales de Knn.</p>

                            <p>La vigencia de este acuerdo es de un 
año. Si dejo de renovar anualmente mi negocio Knn, o si es cancelado o 
cesante por cualquier motivo, entiendo que perderé mis derechos como 
Ejecutivo Independiente hasta renovar mi negocio Knn en este caso la 
oficina Virtual.</p>

                            <p>No tendré derecho de vender productos y 
servicios Knn, ni tendré derecho de recibir comisiones, bonos u otros 
ingresos que resultaran de las actividades de mi antigua organización 
de ventas en línea descendente. En caso de cancelación, terminación o
 no renovación, renuncio a todos mis derechos, incluyendo pero no 
limitados a mi antigua organización en línea descendente, y cualquier 
bonificación, comisión u otra remuneración derivada de las ventas y 
otras actividades de mi antigua organización en línea descendente.</p>

                            <p>Knn se reserva el derecho de terminar, 
con preaviso de 30 días, todos los Acuerdos de Ejecutivo Independiente 
si la Empresa decidiera: (1) suspender operaciones comerciales, o, (2) 
liquidarse como entidad comercial.</p>

                            <p>6. No puedo traspasar ningún derecho ni 
delegar mis deberes bajo este Acuerdo sin el consentimiento previo por 
escrito de Knn. Cualquier intento de transferir o traspasar este Acuerdo
 sin el expreso consentimiento por escrito de Knn, hace que el Acuerdo 
pueda ser rescindido a opción de Knn y pueda resultar en la 
terminación de mi negocio.</p>

                            <p>7. Entiendo que si dejo de cumplir con 
los términos de este Acuerdo, Knn puede, a su discreción, aplicarme 
sanciones según se describe en las Normas y Procedimientos. Si 
transgrediera, quebrantara o no cumpliera con el Acuerdo, a su 
conclusión no tendré derecho de recibir más bonificaciones o 
comisiones, sin importar que las ventas que generaron tales 
bonificaciones y comisiones han sido completadas.</p>

                            <p>8.Knn, sus directores, funcionarios, 
accionistas, empleados, cesionarios y agentes (colectivamente llamados 
“subsidiarios”), no serán responsables, y yo libero aKnn y sus 
subsidiarios de todas las demandas por daños resultantes y 
compensación punitiva. Acepto además liberar a Knn y sus subsidiarios 
de cualquier obligación que resulte o esté relacionada con la 
promoción u operación de mi negocio Knn y cualquier actividad 
relacionada (ej. la presentación de productos o el Plan de Mercadeo y 
Prosperidad de Knn, la operación de un vehículo automotor, el alquiler
 de instalaciones para reuniones y entrenamiento, etc.) y acepto 
indemnizar a Knn por cualquier obligación, daño, multas u otras 
indemnizaciones que resulten de la conducta no autorizada en que me 
involucro al realizar mi negocio.</p>

                            <p>9. El Acuerdo, en su forma actual o 
enmendado por Knn a su discreción, constituye todo el contrato entre 
Knn y yo. Cualquier promesa, representación, oferta u otra 
comunicación que no está estipulada explícitamente en este Acuerdo, 
no tendrá vigencia ni validez.</p>

                            <p>10. Cualquier exoneración por Knn de 
cualquier infracción del Acuerdo debe estar por escrito y firmada por 
un funcionario de Knn autorizado para tal fin. La exoneración por Knn 
de cualquier infracción de mi parte no opera ni será interpretada como
 exoneración de infracciones subsiguientes.</p>

                            <p>11. En caso que alguna estipulación de 
este Acuerdo sea considerada inválida, o que no se pueda hacer cumplir,
 tal estipulación, deberá reformarse sólo hasta el punto necesario en
 que se pueda hacer cumplir y el resto del Acuerdo seguirá válido y 
vigente.</p>

                            <p>12. Este Acuerdo se regirá e 
interpretará conforme a las leyes Peruanas, sin importar los principios
 de conflicto de leyes. Todas las disputas y reclamos en cuanto a Knn, 
el Acuerdo de Distribuidor Independiente, el Plan de Mercadeo de Knn o 
sus productos y servicios, los derechos y deberes de un Ejecutivo 
Independiente y Knn o cualquier otro reclamo o fundamento de causa 
relacionado con la actuación de un Distribuidor Independiente o de Knn 
bajo este Acuerdo o las Normas y Procedimientos de Knn, deben resolverse
 mediante arbitraje en Perú. </p>

                            <p>13. Si un Ejecutivo Independiente desea 
emprender un pleito contra Knn por cualquier hecho u omisión en 
relación o como resultado de este Acuerdo, tal pleito debe emprenderse 
dentro de un lapso de un año a partir de la fecha que ocasionó la 
causa del pleito. La falta de emprender tal pleito dentro de este lapso 
prohibirá todo reclamo contra Knn para tal hecho u omisión. Los 
Ejecutivos Independientes renuncian a todos los reclamos aplicables bajo
 otros estatutos de limitación.</p>

                            <p>14. Autorizo a Knn a usar mi nombre, 
fotografía, historia personal o parecido en materiales publicitarios o 
de promoción y renuncio a cualquier pretensión de remuneración para 
tal uso  </p>

                            <p>15. Al rellenar y entregar esta 
Solicitud, autorizo específicamente a Knn a comunicarse conmigo por 
correo electrónico en la dirección que registré en la oficina 
virtual. Entiendo que tales correos electrónicos pueden incluir ofertas
 y solicitación para la venta de productos Knn, ayudas de venta y 
servicios.</p>

                            <p>16. Entiendo que cualquier 
representación engañosa de los datos que suministro en esta Solicitud y
 mi Oficina Virtual personal de Acuerdo de Distribuidor Independiente 
puede resultar en sanciones de Knn, e incluso terminación de este 
Acuerdo.</p>

                            <p>He examinado el contrato y entiendo que 
deberé sujetarme a los términos y condiciones y a la política y 
procedimientos. Al firmar, confirmo que he examinado el contrato y 
entiendo que deberé sujetarme a los términos y condiciones de Knn . 
Además entiendo que puedo cancelar mi cuenta con Knn en cualquier 
momento, si envío una solicitud por escrito.</p>
                            <p><strong>TÉRMINOS Y CONDICIONES</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer footer-fondo">
                    <strong>Kaita Natural Network - 2018</strong>
            </div>
        </div>
    </div>
    <a id="scrollUp" href="#top" title="Scroll to top" style="position: fixed; z-index: 2147483647; display: none;"></a>
    <script type="text/javascript">
        $(window).bind('scroll', function() {
            if ($(window).scrollTop() > 180) { $('#scrollUp').fadeIn('slow'); }else{ $('#scrollUp').fadeOut('slow');}
        });

        $("a[href='#top']").click(function() {
          $("html, body").animate({ scrollTop: 0 }, "slow");
          return false;
        });
    </script>


</body></html>